absl-py==2.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
antlr4-python3-runtime
argcomplete==3.5.1
asgiref
asttokens
astunparse==1.6.3
async-timeout==4.0.3
attrs==24.2.0
boto==2.49.0
Bottleneck
Brotli
cachetools==5.5.0
certifi
cffi==1.17.1
charset-normalizer
comm
contourpy
crcmod==1.7
cryptography==43.0.1
cycler
debugpy
decorator
Django
django-environ
exceptiongroup
executing
fastcore==1.7.19
fasteners==0.19
filelock
flatbuffers==24.3.25
fonttools
frozenlist==1.4.1
fsspec==2024.10.0
gast==0.6.0
gcs-oauth2-boto-plugin==3.2
gmpy2
google-apitools==0.5.32
google-auth==2.17.0
google-auth-httplib2==0.2.0
google-pasta==0.2.0
google-reauth==0.1.1
grpcio==1.66.2
gsutil==5.31
h5py
hf-xet==1.1.3
httplib2==0.20.4
huggingface-hub==0.32.5
hydra-core
idna
importlib_metadata
importlib_resources
ipykernel
ipython
jedi
Jinja2
joblib
jupyter_client
jupyter_core
keras==3.6.0
kiwisolver
kornia
libclang==18.1.1
lovely-numpy==0.2.13
lovely-tensors==0.1.17
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe
matplotlib==3.9.2
matplotlib-inline
mdurl==0.1.2
mkl-service>=2.4.1
mkl_fft
mkl_random
ml-dtypes==0.4.1
monotonic==1.6
mpmath
multidict==6.1.0
namex==0.0.8
nest_asyncio
networkx
numexpr
numpy
oauth2client==4.1.3
omegaconf
opencv-python==4.10.0.84
opt_einsum==3.4.0
optree==0.13.0
packaging
pandas
parso
pexpect
pickleshare
pillow
platformdirs
ply==3.11
prompt_toolkit
propcache==0.2.0
protobuf==4.25.5
psutil
ptyprocess
pure_eval
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
Pygments
pyOpenSSL==24.2.1
pyparsing
PyQt5==5.15.10
PyQt5-sip
PySocks
python-dateutil
pytz
pyu2f==0.1.5
PyYAML
pyzmq
regex==2024.11.6
requests
retry_decorator==1.1.1
rich==13.9.2
rsa==4.7.2
safetensors==0.5.3
scikit-learn
scipy
seaborn
sip
six
sqlparse
stack-data
sympy
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
threadpoolctl
tokenizers==0.21.1
tomli
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tornado
tqdm==4.67.1
traitlets
transformers==4.52.4
triton==3.1.0
typing_extensions
tzdata
unicodedata2
urllib3
wcwidth
Werkzeug==3.0.4
wrapt==1.16.0
yarl==1.14.0
zipp==3.20.2
